body{
  font-family: 'Open Sans', sans-serif;
}

.navbar-default {
  background: #2B343B;
  border:none;
  height: 55px;
  border-radius:0; 
}

ul li {
  font-size: 14px;
}

.jumbotron {
  margin-top: -50px;
  margin-bottom: 0px;
  height: 458px;
  background: #ffd89b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ffd89b , #19547b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ffd89b , #19547b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  padding-top: 158px; 
  color: white;
}

h1{
  margin-bottom: 60px;
}

.glyphicon-search {
  color: white; 
  font-size: 20px;
}

#hubFont{

}

#icon-container {
  background-color: black;
}

#buffer {
  /* width: 16px; */
  height: 66px;
}

#icon-footer {
  height: 40px;
  background-color: #E76737;
}

.form-control{
  padding:22px;
  border-radius: 50px;
}

.btn-secondary {
  padding:10px;
  border-radius: 50px;
}

#icons{
  background-color: black;
  margin-top: 0;
}

#gifIcon{
  height:66px;
  /* width:154px; */
  background-color:#E76737; 
  display:inline-block;
 
}

#imageIcon{
  height:66px;
  /* width:154px; */
  background-color:#EAAF48; 
  display:inline-block;

}


#videoIcon{
  height:66px;
  /* width:154px; */
  background-color:#168793; 
  display:inline-block;
  
}

#tumblrIcon{
  height:66px;
  /* width:154px; */
  background-color:#E97A5D; 
  display:inline-block;

}
#wikiIcon{
  height:66px;
  /* width:154px; */
  background-color:#19AA67;
  display:inline-block;

}
