body{
  font-family: 'Open Sans', sans-serif;
/* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #ffd89b , #19547b); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #ffd89b , #19547b); 
}

/* .navbar-default {
  background: #2B343B;
  border:none;
  height: 55px;
  border-radius:0; 
}
 */
ul li {
  font-size: 14px;
}

.jumbotron {
  margin-top: -50px;
  margin-bottom: 0px;
  height: 358px;
  background: #ffd89b; /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #ffd89b , #19547b); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #ffd89b , #19547b); 
  text-align: center;
  padding-top: 118px;
  /* color: white; */
}

h1{
  margin-bottom: 40px;
  color: white;
}

span {
  color: white;
}

.glyphicon-search {
  color: white; 
  font-size: 20px;
}

#hubFont{

}

#search {
  color: black;
}

#icon-container {
  /* background-color: black; */
}

#icon-footer {
  height: 40px;
  background-color: #E76737;
  padding-right: 10px;
  padding-left: 10px;
}

.form-control{
  padding:22px;
  border-radius: 50px;
}

.btn-secondary {
  /* padding:10px; */
  padding: 9px;
  border-radius: 50px;
}

#icons{
  /* background-color: black; */
  margin-top: 0;
}

#gifIcon{
  height:66px;
  /* width:154px; */
  background-color:#E76737; 
  display:inline-block;
}

#imageIcon{
  height:66px;
  /* width:154px; */
  background-color:#EAAF48; 
  display:inline-block;
  opacity: .5;
}

#videoIcon{
  height:66px;
  /* width:154px; */
  background-color:#168793; 
  display:inline-block;
  opacity: .5;
}

#tumblrIcon{
  height:66px;
  /* width:154px; */
  background-color:#E97A5D; 
  display:inline-block;
  opacity: .5;
}

#wikiIcon{
  height:66px;
  /* width:154px; */
  background-color:#19AA67;
  display:inline-block;
  opacity: .5;
}
